@use "../variables"
@use "../mixins"

#sidebar 
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$container-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: fixed
    width: 25%
    padding: .8rem 0
    transition: transform 0.8s ease
    z-index: 1000


    .conteudo
        max-width: 100%
        max-height: 25%

    img 
        border-radius: variables.$container-border-radius
        margin-top:  15%
    
  

    .title 
        color: variables.$text-color-sencondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 2%
        padding: .8rem 1.2rem
  

    .btn 
        @include mixins.btn
  
    @media (min-width: 1100px) 
        .conteudo
            max-width: 100%
            max-height: 30%
        img 
            position: absolute
            max-width:60% 
            margin: 0
            border-radius: variables.$container-border-radius
            top: -8%
        .title 
            color: variables.$text-color-sencondary
            background-color: variables.$bg-color-secondary
            border-radius: variables.$card-border-radius
            margin-top: 35%
            padding: .8rem 1.2rem

    @media (max-width: 1100px) 
            transform: translateX(150%)
            width: 100vw
            height: 100vh
            padding: auto 0
            right: 1%
            top: 0
            z-index: 1000
            &.open 
                transform: translateX(0)
                transition: transform 0.8s ease
        



// Ícone de hambúrguer
.hamburger 
  position: fixed
  top: 5px
  right: 20px
  font-size: 3rem
  background: none
  color: #fff
  border: none
  cursor: pointer
  z-index: 1100

  @media (min-width: 1101px) 
    display: none // Esconde o botão em telas maiores
    max-height: 100vh




