@use "../variables"
@use "../mixins"

.tecnologies-container 
  margin-bottom: 1rem

  h2 
    font-size: 2rem
    text-align: center
    margin-bottom: 2rem
    color: variables.$bg-color
  
  .tecnologies-grid 
    display: flex
    flex-wrap: wrap
    gap: 1.5rem
    justify-content: center 

    .tecnology-card 
        background-color: variables.$bg-color-secondary
        padding: 1.5rem
        border-radius: variables.$card-border-radius
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
        min-width: 45%
        max-width: 300px
        text-align: center
        position: relative
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        transition: transform 0.3s ease

        &:hover 
            transform: scale(1.05)
        
        svg 
            font-size: 5rem 
            margin-bottom: 1rem
            
        h3 
            color: variables.$text-color
            font-size: 1.5rem
            margin-bottom: 1rem
            justify-content: center !important

        .saiba-mais-btn,
        .minimize-btn 
            margin-top: 0.5rem
            padding: 0.5rem 1rem
            background-color: transparent
            border: 1px solid black
            border-radius: variables.$container-border-radius
            color: #000000
            box-shadow: 0px 0px 28px -2px rgba(255, 255, 255, 0.15) inset
            -webkit-box-shadow: 0px 0px 28px -2pxrgba(255, 255, 255, 0.15) inset
            -moz-box-shadow: 0px 0px 28px -2pxrgba(255, 255, 255, 0.15) inset
            cursor: pointer
            transition: all 0.3s ease
            font-size: 1rem

            &:hover 
                border: none
                box-shadow: none
                background-color: #000000
                color: #ffffff

        // Estilo para o botão de minimizar
        .minimize-btn
            color: white
            border: none  
            background-color: #000000
            position: absolute
            bottom: 1rem // Para alinhar o botão ao topo do card
            right: 1rem // Para posicionar à direita do card


        // Texto oculto inicialmente
        .info-text 
            font-size: 0.9rem
            margin-top: 1rem
            margin-bottom: 2rem !important
            text-align: justify
            line-height: 1.4
            color: variables.$text-color
            display: none

        // Transição suave para mostrar o texto
        &.expanded .info-text,
        &.expanded .minimize-btn 
            display: block
            opacity: 1
            height: auto
            transition: all 0.5s ease
